<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="AndroidWebServices.AndroidService">
        <endpoint address="" binding="webHttpBinding" contract="AndroidWebServices.IAndroidService" behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <add name="Insaniyat_DatabaseEntities" connectionString="metadata=res://*/Models.Insaniyat_Model.csdl|res://*/Models.Insaniyat_Model.ssdl|res://*/Models.Insaniyat_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\Insaniyat_Database.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Insaniyat_DatabaseEntities1" connectionString="metadata=res://*/Models.Insaniyat_Model.csdl|res://*/Models.Insaniyat_Model.ssdl|res://*/Models.Insaniyat_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\Insaniyat_Database.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShoppingServerDBEntities" connectionString="metadata=res://*/ShoppingServer.csdl|res://*/ShoppingServer.ssdl|res://*/ShoppingServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=650a87fd-2f2c-49f9-a739-a62d0148d69c.sqlserver.sequelizer.com;Database=db650a87fd2f2c49f9a739a62d0148d69c;User ID=aftjidwowjyfwdqu;Password=8HqJ4USqKvKKDUf6XGYwqSmxJP48Uwudmgts2ezoCBT7DqehqavurpEowZ8nYTDo;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>